@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Use kebab-case for custom colors to ensure Tailwind generates valid utilities */
  --color-primary-text: #ffffff;
  --color-secondary-text: #ffffff;
  --color-magenta: #0FA965;
  --color-magenta-dark: #0B7F4D;
  --color-three: #FF7700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins), Arial, Helvetica, sans-serif;  
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}